footer  {
    background: #FFF;
    height:60px;
    width: 100%;
    border-top: 1px solid #CCC;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    bottom: 0px;
    position: absolute;
}